<div class="layout-container">
    {% if page.header|render|striptags|trim is not empty %}
        <header class="layout-header" role="banner">
            <div class="container">
                {{ page.header }}
            </div>

        </header>
    {% endif %}

    {% if page.content|render|striptags|trim is not empty %}
        <section class="layout-content" role="complementary">
            <div></div>
            <div class="container">
                {{ page.content }}
            </div>
        </section>
    {% endif %}

    {% if page.footer|render|striptags|trim is not empty %}
        <footer class="layout-footer" role="contentinfo">
            <div class="container">
                <h2>Footer</h2>
                <h3>qwerqw</h3>
                <h3>qwerqw</h3>
            </div>
        </footer>
    {% endif %}
</div>