<div class="layout-container">
    {% if page.header|render|striptags|trim is not empty %}
        <header class="layout-header" role="banner">
            <div class="container">
                {{ page.header }}
            </div>

        </header>
    {% endif %}
    {% if page.banner_image|render|trim is not empty %}
        <div class="banner-image-layout">
           {{ page.banner_image }}
        </div>
    {% endif %}
    {% if page.content is not empty %}
        <section class="layout-content" role="complementary">
            <div class="container">
                {{ page.content }}
            </div>
        </section>
    {% endif %}

    {% if page.footer|render|striptags|trim is not empty %}
        <footer class="layout-footer" role="contentinfo">
            <div class="container">
                {{ page.footer }}
            </div>
        </footer>
    {% endif %}

    <input type="file">
</div>